<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsp.mapper.SysOperLogMapper">
  <resultMap id="BaseResultMap" type="com.lsp.entity.SysOperLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="oper_id" jdbcType="INTEGER" property="operId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="oper_name" jdbcType="VARCHAR" property="operName" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="oper_url" jdbcType="VARCHAR" property="operUrl" />
    <result column="oper_ip" jdbcType="VARCHAR" property="operIp" />
    <result column="oper_location" jdbcType="VARCHAR" property="operLocation" />
    <result column="oper_param" jdbcType="VARCHAR" property="operParam" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="oper_time" jdbcType="TIMESTAMP" property="operTime" />
  </resultMap>
</mapper>