<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:phxl="http://www.w3.org/1999/xhtml">
<head th:include="header::header" />
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-row ">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" id="username" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <phxl:dict dictType="USER_SEX" id="sex" name="sex"></phxl:dict>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <a class="layui-btn  layui-fr" style="margin-right:20px" href="javascript:void(0);" lay-submit lay-filter="searchUser">查询</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
                <div class="toolbar-table">
                    <button class="layui-btn layuiadmin-btn-role" lay-submit lay-filter="delAll">删除</button>
                    <button class="layui-btn layuiadmin-btn-role" lay-submit lay-filter="add">添加</button>
                </div>

                <table id="userTable"  lay-filter="userTable"></table>
                <script type="text/html" id="table-user-toolbar">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>
        </div>
    </div>
    <div th:include="footer::footer"></div>
    <script>
        layui.use(['form','table','layer'], function(){
            var form = layui.form,
                layer =  top.layui.layer,
                table = layui.table;
            var userManager = {
                tableLoad : function(){
                    table.render({
                        elem : '#userTable',
                        id : 'userTable',
                        height: 'full-200',
                        url : ctx+'sys/user/list',
                        request: {
                            pageName: 'pageNo',
                            limitName: 'pageSize'
                        },
                        where:{
                            //用户姓名
                            userName : $.trim($("#username").val()),
                            sex :  $.trim($("select[name='sex']").val())
                        },
                        cols:[
                            [
                                {
                                    type : 'checkbox',
                                    fixed:'left',
                                    width:40
                                },
                                {
                                    type:'numbers',
                                    width:40,
                                    title: '序号',
                                    fixed:'left'
                                },
                                {
                                    field : 'loginName',
                                    title : '姓名',
                                    align : 'center',
                                    width : 120
                                },
                                {
                                    field : 'userName',
                                    title : '呢称',
                                    align : 'center',
                                    width : 120
                                },
                                {
                                    field : 'email',
                                    title : '邮箱',
                                    align : 'center',
                                    width : 200
                                },
                                {
                                    field : 'phonenumber',
                                    title : '电话',
                                    align : 'center',
                                    width : 120
                                },
                                {
                                    field : 'sex',
                                    title : '性别',
                                    align : 'center',
                                    width : 60
                                },
                                {
                                    field : 'status',
                                    title : '状态',
                                    align : 'center',
                                    width : 60
                                },
                                {
                                    width:178,
                                    align:'center',
                                    fixed: 'right',
                                    title: '操作',
                                    toolbar: '#table-user-toolbar'
                                }
                            ]
                        ]
                        ,page: true
                    });
                }
            }

            //查询
            form.on('submit(searchUser)',function () {
                userManager.tableLoad();
            })

            //删除
            form.on('submit(delAll)',function () {

            })

            //添加
            form.on('submit(add)',function () {
                var url= ctx +'sys/user/detail?type=1';
                //打开页面
                layer.open({
                    type:2,
                    content : url,
                    title : '登录用户信息',
                    area: ['800px', '480px'],
                    btnAlign: 'c',
                    btn:['保存','取消'],
                    yes: function (index, layero) {
                        //获取弹出层对象
                        var layerFrame = $(layero).find("#layui-layer-iframe" + index)[0].contentWindow;
                        var data = layerFrame.userDetail.getData();
                        if(data.loginName.length == 0){
                            layer.alert("请输入姓名！", {icon : 2, zIndex : layer.zIndex});
                            return false;
                        }
                        if(data.userName.length == 0){
                            layer.alert("请输入呢称！", {icon : 2, zIndex : layer.zIndex});
                            return false;
                        }
                        if(data.sex.length == 0){
                            layer.alert("请选择性别！", {icon : 2, zIndex : layer.zIndex});
                            return false;
                        }
                        if(data.phonenumber.length == 0){
                        } else {
                            var rex1=/^1[3-8]+\d{9}$/;
                            if(!rex1.test(data.phonenumber) ){
                                layer.alert("电话的格式不正确，请重新输入！", {icon : 2, zIndex : layer.zIndex});
                                return false;
                            }
                        }
                        //邮箱
                        if(data.email.length> 0){
                            var rex =/^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
                            if(!rex.test(data.email)){
                                layer.alert("邮箱的格式不正确，请重新输入！", {icon : 2, zIndex : layer.zIndex});
                                return false;
                            }
                        }
                        //提交表单
                        $.doAction.ajax({
                            url:ctx+'sys/user/detail/add',
                            data:data,
                            success:function (data) {
                                if(data.code=200){
                                    layer.alert(data.msg, {icon : 1,zIndex: layer.zIndex});
                                    layer.close(index);
                                    userManager.tableLoad() ;
                                }else {
                                    layer.alert(data.msg, {icon : 2,zIndex: layer.zIndex});
                                    return false;
                                }
                            }
                        })

                    },
                    /**右上角关闭按钮事件*/
                    cancel: function(index, layero){
                        layer.close(index);
                    }
                });
            })
            table.on('tool(userTable)', function(obj){
                var data = obj.data;
                //查看
                if(obj.event === 'detail'){
                    //查看URL
                    var url= ctx +'';
                    //打开页面
                    layer.open({
                        type:2,
                        content : url,
                        title : '编辑用户信息',
                        area: ['480px', '480px'],
                        btnAlign: 'c',
                        btn:['保存','取消'],
                        yes: function (index, layero) {

                        },
                        /**右上角关闭按钮事件*/
                        cancel: function(index, layero){
                            layer.close(index);
                        }
                    });
                    //删除
                } else if(obj.event === 'del'){
                    layer.confirm('是否删除？', function(index){
                        layer.close(index);
                    });
                    //编辑
                } else if(obj.event === 'edit'){
                    //编辑URL
                    var url= ctx +'';
                    //打开页面
                    layer.open({
                        type:2,
                        content : url,
                        title : '编辑用户信息',
                        area: ['1050px', '630px'],
                        btnAlign: 'c',
                        btn:['更新','取消'],
                        yes: function (index, layero) {
                            
                        },
                        /**右上角关闭按钮事件*/
                        cancel: function(index, layero){
                            layer.close(index);
                        }
                    });
                }
            });

            //初期化
            userManager.tableLoad() ;
        });
    </script>
</body>
</html>