<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <script th:inline="javascript"> var ctx = [[@{/}]];</script>
    <script  th:src="@{/static/layui/layui.js}"></script>
    <script  th:src="@{/static/plugin/jquery/jquery.min.js}"></script>
    <script  th:src="@{/static/plugin/jquery/jquery.validate.min.js}"></script>
    <script  th:src="@{/static/plugin/jquery/jquery-ui-1.10.4.min.js}"></script>
    <script  th:src="@{/static/plugin/jquery/bootstrap.min.js}"></script>
    <script  th:src="@{/static/plugin/blockUI/jquery.blockUI.js}"></script>
    <script  th:src="@{/static/js/common.js}"></script>
    <script  th:src="@{/static/js/form.js}"></script>
</div>
</html>