<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/admin.css">
</head>
<body>
<div class="login">
    <form class="login-form layui-form-pane layui-form" >
        <div class="layui-form-item " pane>
            <label class="layui-form-label">账号：</label>
            <div class="layui-input-block">
                <input type="text"  placeholder="请输入账号" autocomplete="off" class="layui-input" lay-verify="username" name="username">
            </div>
        </div>
        <div class="layui-form-item" pane>
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-block">
                <input type="text"  placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="password" name="password">
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label">验证码：</label>
            <div class="layui-input-inline" style="width: 180px;">
                <input type="text"  placeholder="请输入验证码" autocomplete="off" class="layui-input"  lay-verify="code" name="code">

            </div>
            <div class="layui-input-inline" style="width: 90px;">
                <a href="javascript:void(0);" title="点击更换验证码">
                    <img th:src="@{/captcha/captchaImage}" id="kaptchaImage" width="100" height="38">
                </a>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="">
                <button class="layui-btn "  type="button" style="padding: 0 81px" id="btnSubmit" data-loading="正在验证登录，请稍后..." onclick="login()" >登录</button>
                <button type="reset" class="layui-btn layui-btn-primary" style="padding: 0 81px">重置</button>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript"> var ctx = [[@{/}]];</script>
<script src="../static/layui/layui.js" th:src="@{/static/layui/layui.js}"></script>
<script src="../static/plugin/jquery/jquery.min.js" th:src="@{/static/plugin/jquery/jquery.min.js}"></script>
<script src="../static/plugin/jquery/jquery.validate.min.js" th:src="@{/static/plugin/jquery/jquery.validate.min.js}"></script>
<script src="../static/plugin/jquery/jquery-ui-1.10.4.min.js" th:src="@{/static/plugin/jquery/jquery-ui-1.10.4.min.js}"></script>
<script src="../static/plugin/jquery/bootstrap.min.js" th:src="@{/static/plugin/jquery/bootstrap.min.js}"></script>
<script src="../static/plugin/blockUI/jquery.blockUI.js" th:src="@{/static/plugin/blockUI/jquery.blockUI.js}"></script>
<script src="../static/js/common.js" th:src="@{/static/js/common.js}"></script>
<script src="../static/js/form.js" th:src="@{/static/js/form.js}"></script>
<script>

    layui.use(['form','jquery'], function(){
        var form = layui.form;
        var $ = layui.jquery;

        $("#kaptchaImage").click(function () {
            this.src = ctx+"captcha/captchaImage?d="+new Date().getTime();
        }).click().show();
    });

    function login() {
        var username = $.common.trim($("input[name='username']").val());
        var password = $.common.trim($("input[name='password']").val());
        var code = $("input[name='code']").val();
        var check = false
        if($.common.isEmpty(username)){
            $.modal.msgError("账号不能为空")
            check = true;
            return;
        }
        if($.common.isEmpty(password)){
            $.modal.msgError("密码不能为空")
            check = true;
            return;
        }
        if($.common.isEmpty(code)){
            $.modal.msgError("验证码不能为空")
            check = true;
            return;
        }
        if(!check){
            $.modal.loading($("#btnSubmit").data("loading"));
            $.ajax({
                type: "post",
                url: ctx + "login",
                data: {
                    "username": username,
                    "password": password,
                    "code" : code
                },
                success: function(r) {
                    if (r.code == 200) {
                        location.href = ctx + 'index';
                    } else {
                        $.modal.closeLoading();
                        $('.kaptchaImage').click();
                        $.modal.msgError(r.msg);
                    }
                },error:function () {
                    $.modal.closeLoading();
                    $.modal.msg("系统错误，请联系管理员");
                }
            });
        }
    }
</script>
</body>
</html>